[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pytest = "*"
faker = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
gunicorn = "*"
psycopg2 = "*"
python-dotenv = "*"
setuptools = "*"
honcho = "*"
importlib-metadata = "*"
importlib-resources = "*"
mako = "*"
alembic = "*"
pytz = "*"
six = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.8.0"
